@model GestionAgroite_V1_CSI.Models.Usuario
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/recursos/css/login.css" rel="stylesheet" type="text/css">
    <script src="~/recursos/js/index.js"></script>
    <title>Iniciar Sesión</title>

</head>
<body>
    <div class="split-screen table-responsive">
        <div class="left table-responsive-sm" >
            <img src="~/recursos/imagen/agricultor.png" alt=""  width="900" height="810">
          
        </div>
        <div class="right">
            @using (Html.BeginForm("Acceder","Login",FormMethod.Post,new { @class = "needs-validation" }))
            {                
                <div class="copy">
                    <br />
                    <img src="~/recursos/imagen/logo-removebg-preview.png" alt="" width="190" height="210">
                        
                    <label class="col-form-label">
                        Bienvenido a Agroite
                    </label>
                </div>
                <div class="input-container email">
                    <label for="usuario">Usuario</label>
                    <input name="usuario" type="text" placeholder="Ingrese un Usuario" required>
                </div>
                <div class="input-container.password">
                    <label for="password">Contraseña</label>
                    <input name="password" placeholder="Ingresar al menos 6 caracteres" type="password" required>
                </div>

                <div class="input-container.cta">
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span class="checkmark"></span>Recordar Contraseña
                    </label>
                </div>
                <div>

                    <label class="form-check-label">@TempData["mensaje"]</label>
                </div>
                <br />
                <button class="signup-btn" type="submit">Inciar Sesíon</button>
                <section class="copy legal">
                    <p>
                        <span class="small">
                            Al continuar, usted acepta aceptar nuestra <br>
                            <a href="#">Política de privacidad</a>&amp;<a href="#">Términos de servicio</a>.
                        </span>
                    </p>
                </section>
            }
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="~/recursos/js/index.js"></script>
</body>
</html>

