@{
    ViewBag.Title = "Index";
}

<!-- login-page -->
<div class="login-page">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">Iniciar Sesión</h3>
        <div class="login-body">
            

            @using (Html.BeginForm("Acceder", "Login", FormMethod.Post))
            {
                <input type="text" style="text-align:center;" class="form-control" name="Usuario" placeholder="Correo" required="">
                <input type="password" style="text-align:center;" name="Password" class="form-control" placeholder="Contraseña" required="">

                <button type="submit" data-ajax="true" name="usuario" class="btn btn-primary"> Acceder </button>
               
            }
        </div>
        <h6> ¿No eres miembro? <a href="~/Usuario/AgregarEditar">Registrate ahora »</a> </h6>

    </div>
</div>
<script src="~/assets/js/jquery.form.js"></script>

<script src="~/assets/js/ini.js"></script>
<script src="~/assets/js/jquery.validate.min.js"></script>
<script src="~/assets/js/jquery.validate.unobtrusive.min.js"></script>
<!-- //login-page -->
