@model List<GestionAgroite_V1_CSI.Models.Transportador>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin: 35px 50px">
    <h2 class="page-header">
        <a href="~/Transportador/AgregarEditar" class="btn btn-success float-lg-right">Nuevo Transportador</a>
    </h2>
    <br />
    <br />
    <table id="DataTablesLanguage" class="table align-items-center table-flush">
        <thead>
            <tr>
                <th style="width:150px;">Nombres y Apellidos</th>
                <th style="width:50px;">Telefono</th>
                <th style="width:150px;">Correo Electronico</th>
                <th style="width:150px;">Acciones</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Tefono</td>
                    <td>@item.Email</td>
                    <td style="align-content:center">
                        <a href="~/Transportador/Visualizar/@item.IdTransportador" class="btn btn-xs btn-warning">Detalles</a>
                        <a href="~/Transportador/AgregarEditar/@item.IdTransportador" class="btn btn-xs btn-primary">Modificar</a>
                        @*<a onclick="return confirm('¿Esta seguro que desea eliminar el registro...?');"
                           href="~/Transportador/Eliminar/@item.IdTransportador" class="btn btn-xs btn-danger">Eliminar</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>