
@model List<GestionAgroite_V1_CSI.Models.Categoria>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin: 35px 50px">
    <h2 class="page-header">
        Categoria
        <a href="~/Categoria/AgregarEditar" class="btn btn-success float-lg-right">Nuevo Categoria</a>
    </h2>
    <br />
    <table id="DataTablesLanguage" class="table align-items-center table-flush">
        <thead>
            <tr>
                <th style="width : 50px;"> ID</th>
                <th style="width : 150px;">Nombre</th>
                <th style="width : 300px">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <th>@(m.IdCategoria)</th>
                    <th>@(m.Nombre)</th>
                    <th>
                        <a href="~/Categoria/Visualizar/@m.IdCategoria" class="btn btn-xs btn-warning">Detalles</a>
                        <a href="~/Categoria/AgregarEditar/@m.IdCategoria" class="btn btn-xs btn-primary">Modificar</a>
                        <a onclick="return confirm('Esta seguro que desea eliminabr el registro?...');"
                           href="~/Categoria/Eliminar/@m.IdCategoria" class="btn btn-xs btn-danger">Eliminar</a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
    </div>