
@model GestionAgroite_V1_CSI.Models.Categoria
@{
    ViewBag.Title = "Visualizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin: 35px 50px">
    <h2>Visualizar</h2>
    <ol class="breadcrumb">
        <li><a href="~/Categoria/Index">Categoria</a></li>
        <li> / </li>
        <li class="active">@Model.IdCategoria</li>
    </ol>

    <div class="card card-body">
        <div class="card-header">Informacion de Categoria</div>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>Id</dt>
                <dd>@Model.IdCategoria</dd>

                <dt>Nombre de Categoria</dt>
                <dd>@Model.Nombre</dd>

            </dl>
        </div>
    </div>


</div>