@model IEnumerable<FrontEndAgroIte_V1_CSI.Models.Carrito>

    @{
        ViewBag.Title = "carrito";
    }
    <div class="side">
        <a href="#" class="close-side"><i class="fa fa-times"></i></a>
        <li class="cart-box">
            <ul class="cart-list">

                @foreach (var item in Model)
                {
                    <li>
                        <a href="#" class="photo"><img src="~/assets/images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                        <h6><a href="#">@item.nombre_producto </a></h6>
                        <p>1x - <span class="price">@item.precio</span></p>
                    </li>
                }
            </ul>

            <a href="~/Home/detallecarrito" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
            <span class="float-right"><strong>Total</strong>: $180.00</span>
        </li>
    </div>
