@model List<FrontEndAgroIte_V1_CSI.Models.Producto>
@{
    ViewBag.Title = "Index";
    List<FrontEndAgroIte_V1_CSI.Models.Asociacion> objasociacion = ViewBag.asociacion;
}
<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="~/assets/images/banner-01.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Freshshop</strong></h1>
                        <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                        <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/assets/images/banner-02.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Freshshop</strong></h1>
                        <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                        <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/assets/images/banner-03.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Freshshop</strong></h1>
                        <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                        <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>

<!-- Start Blog  -->
<div class="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>latest blog</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
              
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">

                            <img src="http://localhost:54574/Content/ProductosFiles/@item.Imagenes_Producto" style="height:350px;" class="img-fluid" alt="Image" />
                           
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3><b><i class="fa fa-fire"></i>&nbsp; @item.Nombre_Producto</b></h3>
                                <h3 style="margin:0px;"><b><i class="fa fa-user"></i></b>&nbsp;@item.Asociacion.Razon_Social</h3>
                                @*@foreach (var obje in objasociacion)
                                {
                                    if (item.Asociacion.IdAsociacion == obje.IdAsociacion)
                                    {
                                        <h3 style="margin:0px;">
                                            <b><i class="fa fa-users"></i>&nbsp; @obje.Agricultor.Nombre</b>
                                        </h3>
                                    }
                                }*@
                                <h3 style="margin-top:5px;margin-bottom:5px;"><b><i class="fa fa-map-marker"></i></b>&nbsp;@item.Asociacion.Direccion</h3>
                                <p><b>&nbsp;@item.Descripcion_Producto</b></p>
                                <a href="~/Producto/DetalleProducto/?idProducto=@item.IdProducto">Ver Mas</a>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>




